html, body {
    margin: 0;
    padding: 0;
  }
.site-header {
    background-color: #1c3177;
    padding: 1em;
    border-bottom: 1px solid #1c3177;
  }
  
  .header-container {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-header h1 {
    margin: 0;
    color: #ffffff;
  }
  
  .site-title {
    text-decoration: none;
    color: #ffffff;
  }
  
  .site-header nav a {
    margin-right: 1em;
    text-decoration: none;
    color: #ffffff;
  }
  
  .site-header nav a:last-child {
    margin-right: 0;
  }
  